<% const content = (function(){ %>
  <h2>Edit Firearm</h2>
  <form method="post" action="/firearms/<%= item.id %>?_method=PUT" class="form grid">
    <%- include('./_form', { item }) %>
    <div class="form-actions">
      <a class="btn btn-secondary" href="/firearms/<%= item.id %>">Cancel</a>
      <button class="btn" type="submit">Save</button>
    </div>
  </form>
<% })(); %>
<%- include('../partials/layout', { body: content }) %>

