<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pew Pew Collection</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header class="topbar">
    <div class="container">
      <h1><a href="/">Pew Pew Collection</a></h1>
      <% if (user) { %>
      <form method="post" action="/logout">
        <button class="btn btn-secondary" type="submit">Logout (<%= user.username %>)</button>
      </form>
      <% } else { %>
      <a class="btn btn-secondary" href="/login">Login</a>
      <% } %>
    </div>
  </header>
  <main class="container">
    <%- body %>
  </main>
  <footer class="footer container">
    <small>Made in Illinois, USA By <a href="https://github.com/gogorichie">Gogorichie</a></small>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      if (window.flatpickr) {
        window.flatpickr('.js-date-picker', {
          dateFormat: 'Y-m-d',
        });
      }
    });
  </script>
</body>
</html>

